#bg {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;  
    right: 0;
    overflow: auto;
    background: #36393e;
    z-index: -1;
}

#helpbutton {
    background: #e04f5f;
    height: 30px;
    width: 30px;
    border-radius: 4px;
    position: absolute;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif; font-size: 13px; font-style: normal; font-variant: normal; font-weight: 370;
    letter-spacing: 1px;
    color: white;
    font-size: 22px;
    transition: 0.75s;
    text-align: center;
    line-height: 29px;
    left: 0;
    top: 0;
    margin-top: 13px;
    margin-left: 144px;
    transition: 0.2s;
}

#helpbutton:hover {
    transform: scale(1.075);
}

.open {
    opacity: 1;
    margin-bottom: 16px;
}

.close {
    opacity: 0;
    margin-bottom: -210px;
}

body {
    overflow: hidden;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#guide {
    display: none;
    height: 187px;
    width: 200px;
    background: #e04f5f;
    position: absolute;
    margin-top: 28px;
    margin-left: 24px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px #000000;
    padding: 6px;
}

#arrow {
    
    width: 0; 
    height: 0; 
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 20px solid #e04f5f;
    position: absolute;
    margin-top: -20px;
    margin-left: 100px;
}

#settingsmenu {    
    width: 220px;
    height: 210px;
    position: absolute;
    right: 0;
    bottom: 0;
    border-radius: 8px;
    margin-right: 80px;
    transition: 1s;
    background: #36393e;
    box-shadow: 0px 0px 10px #000000;
}

#imgonlycheck {
    width: 24px;
    height: 24px;
    float: right;
    margin-right: 20px;
    margin-top: 4.5px;
    display: inline-block;
    transition: 0.2s;
}

#imgonlycheck:hover {
    transform: scale(1.075);
}


#textonlycheck {
    width: 24px;
    height: 24px;
    float: right;
    margin-right: 20px;
    margin-top: 4.5px;
    display: inline-block;
    transition: 0.2s;
}

#textonlycheck:hover {
    transform: scale(1.075);
}

#hidenamecheck {
    width: 24px;
    height: 24px;
    float: right;
    margin-right: 20px;
    margin-top: 4.5px;
    display: inline-block;
    transition: 0.2s;
}

#textonlycheck:hover {
    transform: scale(1.075);
}


#settingsbut {
    position: absolute;
    right: 0;
    bottom: 0;
    margin-right: 12px;
    margin-bottom: 12px;
    width: 48px;
    height: 48px;
    transition: 0.2s;
}

#settingsbut:hover {
    transform: scale(1.1);
}

#kofibut {
    position: absolute;
    height:34px;
    margin-left: 4px;
    margin-bottom: 12px;
    bottom: 0;
    transition: 0.2s;
}

#kofibut:hover {
    transform: scale(1.075);
}

.selectpfp {
    height: 64px;
    width: xx;
    border-radius: 64px;
    margin-left: 6px;
    margin-right: 6px;
    transition: 0.15s
}
.selectpfp:hover {
    filter: brightness(70%);
}

.hidden {
    visibility: hidden;
}

.selectedpfp {
    filter: brightness(50%);
}

#curruserbar {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-bottom: 105px;
}

#userbar {
    max-width: 50vw;
    height: 75px;
    background-color: darkslategrey;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-bottom: -5px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 4px;
    padding-bottom: 4px;
    overflow-x: scroll;
    overflow-y: hidden;
    scrollbar-width: thin;

    background: #36393e;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    box-shadow: 0px 0px 10px #000000;
}

html {
    --scrollbarBG: #36393e;
    --thumbBG: rgb(89, 106, 114);
}

::-webkit-scrollbar {
    width: 7px;
}
::-webkit-scrollbar-track {
    background: var(--scrollbarBG);
}
::-webkit-scrollbar-thumb {
    background-color: var(--thumbBG) ;
    border-radius: 6px;
    border: 3px solid var(--scrollbarBG);
}

#mainlogo {
    width: 300px;
    height: auto;
    position: absolute;
    top: 1.3%;
    left: 50%;
    margin-left: -154px;
    transition: 0.2s;
}

#mainlogo:hover {
    transform: scale(1.075);
}

#jsonin {
    opacity: 0;
    position: absolute;
    z-index: -1;
}

#jsoninlab {
    line-height: 30px;
    background: #e04f5f;
    border-radius: 4px;
    display: inline-block;
    width: 120px;
    height: 30px;
    text-align: center;
    color: white;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif; font-style: normal; font-variant: normal; font-weight: 500;
    letter-spacing: 1px;
    font-size: 14px;
    transition: 0.2s;
    margin-top: 5px;
    margin-left: 5px;
}

#jsoninlab:hover {
    transform: scale(1.075);
}

#mutepic {
    position: absolute;
    right: 0;
    top: 0;
    margin-right: 12px;
    margin-top: 12px;
    width: 48px;
    height: 48px;
    transition: 0.2s;
}

#mutepic:hover {
    transform: scale(1.1);
}

#infomsg {
    text-align: center;
    margin-top: 10vh;
}

#profpic {
    height: 64px;
    width: xx;
    border-radius: 64px;
    /*border-width: 3px;
    border-color: grey;
    border-style: solid;*/
    position: relative;
    margin-top: 16px;
    margin-left: 16px;
    float: left;
    transition: 0.1s;
}

#msgbody {
    min-height: 100px;
    width: 500px;
    background: #36393e;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 50vw;
    top: 30vh;
    margin-left: -250px;
    margin-top: -100px;
    box-shadow: 0px 0px 10px #000000;
}

#namebox {
    float: right;
    width: 400px;
    margin-left: 16px;
    margin-top: 6px;
    height: 32px;
    display: flex;
    transition: 0.1s;
}

.opacnone {
    opacity: 0
}

.namepiccomboclass:hover #namebox {
    opacity: 1;
}

.namepiccomboclass:hover #profpic {
    opacity: 1;
}

h1 {
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif; font-size: 13px; font-style: normal; font-variant: normal; font-weight: 375;
    letter-spacing: 1px;
    color: white;
    font-size: 18px;
    transition: 0.75s;
}

h2 {
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif; font-size: 13px; font-style: normal; font-variant: normal; font-weight: 300;
    letter-spacing: 1px;
    color: whitesmoke;
    font-size: 18px;
    word-wrap:break-word;
    transition: 0.75s;
}

h3 {
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif; font-size: 13px; font-style: normal; font-variant: normal; font-weight: 375;
    letter-spacing: 1px;
    color: white;
    font-size: 22px;
}

h4 {
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif; font-size: 13px; font-style: normal; font-variant: normal; font-weight: 375;
    letter-spacing: 1px;
    color: #D3D3D3;
    font-size: 14px;
    line-height: 10px;
    float:right;
    margin-left: 10px;
}

h5 {
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif; font-size: 13px; font-style: normal; font-variant: normal; font-weight: 375;
    letter-spacing: 1px;
    color: white;
    font-size: 22px;
    transition: 0.75s;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

#button {
    width: 90px;
    height: 45px;
    background: grey;
    border-radius: 8px;
    margin-top: 30px;
    margin-left: 205px;
}

#msgbox {
    height: auto;
    width: 380px;
    float: left;
    margin-top: -45px;
    margin-left: 97px;
}

#msgimg {
    max-width: 365px;
    max-height: 450px;
    /*width: auto;
    height: auto;*/
    object-fit: cover;
    position: relative;
    margin-left: 100px;
    margin-bottom: 30px;
    margin-top: -20px;
}